# pnpm configurations: https://pnpm.io/npmrc
## Registry & Authentication Settings
registry = https://registry.npmjs.org/

## Peer Dependency Settings
auto-install-peers = true
strict-peer-dependencies = false
